body{
  background-color: 	#FFFAFA;
  font: 16 px/1.5 Arial, helvetica;
  color: #191970;
  /*padding:0;*/
}


h1{
	color: lightseagreen;
}


h3{
  color: lightseagreen;
  font: 25px Arial helvetica sans-serif;
}

h4{
	color: lightseagreen;
}

h5{
	color: lightseagreen;
}

h6{
	color: lightseagreen;
}

a{
	text-decoration: none;
}

.box1{
	background-color: lightseagreen;
	color: white;
	text-align: left;
	font-size: 16px;
	font-style: italic;
	font-family: Arial;	
	padding: 0;
	margin: 0;
	
	}

.container{
	width: 85%;
	margin: auto;
}

.container a{
  text-decoration:none;
  font-family: Arial;
  color:#2f4f4f;
}

.container img{
  width:15%;
  float:left;
}

.icon-bar {
  display:inline-block;
  position: fixed;
  bottom:0;
  right:50%;
  
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 2px;
  transition: all 0.3s ease;
  color: white;
  font-size: 12px;
}

.icon-bar a:hover {
  background-color: #000;
  text-decoration:none;
}

.prev {
  float:left;
  background: #007bb5;
  color: white;
  text-decoration:none;
  margin-right:10px;
}

.next {
  float:right;
background: #bb0000;
  color: white;
  text-decoration:none;
  margin-left:5px;
}

/* Style buttons */
.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}
