@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body{
  font-family: 'Raleway', sans-serif;
  background-color: 	#FFF;
  color: #191970;
  padding-bottom:0;
  padding-left:0;
  margin:0;
}

h2{
  color:#fff;
}

a{
	text-decoration: none;
}

.box1{
	background-color: lightseagreen;
	color: white;
	text-align: left;
	font-size: 16px;
	padding: 0;
	margin: 0;
}

.container{
	width: 90%;
	margin: auto;
}

.container a{
  text-decoration:none;
  /*color:#2f4f4f;*/
}

.container img{
  width:15%;
  float:left;
}


.pagination {
  display:grid;
  position: fixed;
  bottom:80px;
  left:0;
  width:98%;
  text-align:center;
  margin-left:5px;
  margin-right:15px;
}

.pagination a {
  text-align: center;
  padding: 10px;
  transition: all 0.3s ease;
  color: white;
  font-weight:600;
}

.pagination a:hover {
  background-color: #000;
  text-decoration:none;
}


.prev {
  float:left;
}

.next {
  float:right;
}


.centerbox{
  width:80%;
  margin: 10px auto;
  display:flex;
  align-items:center;
}

.linkBtn{
  background-color:  #138d75;
  border: none;
  padding: 5px 20px;
  cursor: pointer;
  font-size: 16px;
  margin: auto;
  border-radius: 2px;
  box-shadow:0 2px 4px rgba(0,0,0,0.3);
  transition:0.6s;
}

.linkBtn:hover{
  box-shadow:0 2px 12px rgba(0,0,0,0.6);
}

.linkBtn a{
  color: #fff;
}

.linkBtn a:hover{
  text-decoration: none;
}


/* Style buttons */

.btn {
  background-color:  #138d75;
  border: none;
  color: white;
  padding: 5px 20px;
  cursor: pointer;
  font-size: 16px;
  margin: auto;
  border-radius: 2px;
  box-shadow:0 2px 4px rgba(0,0,0,0.3);
  transition:0.4s;
}

.btn i{
  margin-right: 5px;
}

/* Darker background on mouse-over */
.btn:hover {
  box-shadow:0 2px 15px rgba(0, 0, 0, 0.7);
}

.cont1{
  background-color:  #f7dc6f;
  position: relative;
  top:10px;
  bottom:10px;
  padding-left: 10%;
  padding-right: 10%;
}


.logo{
  margin-top:20px;
  margin-bottom:40px;  
}

.logo img{
  width:300px;
}


.text_block{
  float:right;
  position: relative;
  bottom: 10%;
  margin-bottom:5%;
  margin-left:10%;
  margin-right:5%;
  right: 10px;
  background: rgb(0, 1, 0); /* Fallback color */
  background: rgba(0, 1, 0, 0.6); /* Black background with 0.5 opacity */
  color: white;
  padding: 10% 3%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.lessonPage {
  display: flex;
  display: -ms-flexbox;
}

.lessonPage .lessonsNav {
  margin-top: 23px;
  min-width: 290px;
  line-height: 40px;
  padding-right: 30px;
}

.lessonPage .lessonsNav a {
  display: block;
  padding: 0 10px;
}

.lessonPage .lessonsNav a:hover {
  text-decoration: none;
  background-color: #34495e;
  color:white;
}

.lessonPage .lessonsNav a.current {
  background-color: #75aadb;
  color: #fff;
}

.lessonPage .lessonContent #show-answer h2 {
  display: inline-block;
  margin-top: 10px;
  padding: 7px 20px;
  background-color: #75aadb;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.lessonPage .lessonContent #show-answer.showing {
  display: none;
}

.lessonPage .lessonContent #model-answer {
  display: none;
}

.lessonPage .lessonContent #model-answer.showing {
  display: block;
}

.lessonPage .lessonContent #continue-to-next-lesson h2 {
  margin-top: 10px;
  font-size: 20px;
}

.lessonPage .continue-link {
  font-size: 24px;
}


@media screen and (min-width: 768px){
  .pagination{
    display:none;
  }
}


/*Adjustments for smaller screen*/

@media screen and (max-width: 768px){
  .lessonPage {
    display: block;
  }

  .lessonPage .lessonsNav {
    display: none;
  }

}

@media screen and (max-width: 500px){
  .gallerySection .galleryItems .galleryItem {
    width: 100%;
  }
  .formatTable .formatName {
    width: 150px;
  }
}

@media screen and (max-width: 350px){

    #rStudioHeader .productName {
      font-size: 26px;
    }

    #rStudioFooter .bandContent .footerLogo {
      margin: 0 2px;
    }
}


#rStudioFooter {
  display:grid;
  position: relative;
  z-index: 2;
  height: 91px;
  margin-top: 100px;
  text-align:center;
}

#rStudioFooter.band {
  background-color: #212121;
  padding: 30px 5%;
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-align:center;
  line-height: 25px;
}

#rStudioFooter .bandContent {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 20px;
}

#rStudioFooter .bandContent #copyright {
  text-align:center;
  flex-shrink: 6;
}

#rStudioFooter .bandContent #logos {
  flex-shrink: 1;
}

#rStudioFooter .bandContent .footerLogo {
  display: inline-block;
  height: 25px;
  width: 25px;

  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
  margin: 0 8px;
}

.video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 80%;
height: 80%;
}

.notification{
  /*margin-bottom: 20px;*/
  border: black 2px solid;
  padding: 0;
  margin: 20px 10% 20px 10%;
}

/*.notification h4{
  line-height: normal;
}*/

.notification .new-box{
  background-color: #bb0000;
  color: #fff;
  padding: 2px 5px;
  margin: 2px;
  font-size:16px;
}

.new-btn{
  background-color: #007bb5;
  border: none;
  padding: 2px 5px;
  margin-top: 5px;
  
}

.new-btn a{
  color: #fff;
}

