body{
  background-color: 	#FFFAFA;
  font: 16 px/1.5 Arial;
  color: #191970;
  /*padding:0;*/
}


h1{
	color: lightseagreen;
}


h3{
  color:  #2e4053;
  font: 18px Arial;
}

h4{
	color: lightseagreen;
}

h5{
	color: lightseagreen;
}

h6{
	color: lightseagreen;
}

a{
	text-decoration: none;
}

.box1{
	background-color: lightseagreen;
	color: white;
	text-align: left;
	font-size: 16px;
	font-style: italic;
	font-family: Arial;	
	padding: 0;
	margin: 0;
	
	}

.container{
	width: 85%;
	margin: auto;
}

.container a{
  text-decoration:none;
  font-family: Arial;
  color:#2f4f4f;
}

.container img{
  width:15%;
  float:left;
}

.icon-bar {
  display:inline-block;
  position: fixed;
  bottom:0;
  right:5%;
  
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 5px;
  transition: all 0.3s ease;
  color: white;
  font: 12px Arial;
}

.icon-bar a:hover {
  background-color: #000;
  text-decoration:none;
}

.prev {
  float:left;
  background: #007bb5;
  color: white;
  text-decoration:none;
  margin-right:1px;
  margin-left:1px;
  margin-bottom:10%;
  padding:3% 5%;
}

.next {
  float:right;
  background: #bb0000;
  color: white;
  text-decoration:none;
  margin-left:1px;
  margin-bottom:10%;
}

.next:hover{
  font-size: 90%;
}

.prev:hover{
  font-size: 90%;
}

/* Style buttons */
.btn {
  background-color:  #138d75;
  border: none;
  color: white;
  padding: 10px 10px;
  cursor: pointer;
  font-size: 16px;
  font: Arial;
  margin-left:5%;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color:  #273746;
}

.cont1{
  background-color:  #f7dc6f;
  position: relative;
  top:10px;
  bottom:10px;
  padding-left: 10%;
  padding-right: 10%;
}

.img1{
  float:inherit;
}

.text_block{
  float:right;
  position: relative;
  bottom: 10%;
  
  margin-bottom:5%;
  margin-left:5%;
  margin-right:5%;
  right: 10px;
  background: rgb(0, 1, 0); /* Fallback color */
  background: rgba(0, 1, 0, 0.6); /* Black background with 0.5 opacity */
  color: white;
  padding-top:10%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom:10%;
  font: 22px Arial;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font: 18px Arial;
  color: white;
}
